<div class="container" style="margin-top: 50px; margin-bottom:50px; width: 65%;">
<h5 style="color:#7B0A0A">Privacy Policy</h5>

<h5>Protecting your data takes top priority with us</h5>

<p><b>Protecting your data is important to us</b></p>

<p>Booking a ticket online? Applying for a job with us? Ordering our newsletter or checking in for your next flight online? </p>

<p>You are entrusting us with lots of personal data – which we will treat with the utmost of care, as the protection of privacy while handling personal data is our foremost concern in all our business processes.</p>

<p>By using our website you consent to given privacy policy. </p>

<p>Given privacy policy applies to this website only. The pages of this website may contain links to other providers within or without Austrian Airlines AG, to whom given Privacy Policy does not apply, and for which we consequently cannot assume liability.</p> 

<p>For the technical and organizational implementation of given website we also make use of selected service providers, who are contractually obliged to process all data received only in accordance with our instructions. </p>

<p><b>Online booking and web check-in </b></p>

<p>All personal data collected during visits on our websites will be processed in accordance with Austrian legislation valid at the time (Data Protection Act). All personal data will be encrypted before being transmitted into our booking or check-in system. If you are inactive on our website for longer than 20 minutes (online booking) or 30 minutes (web check-in), we will automatically log you out for reasons of security. </p>

</div>