<div class="container" style="margin-top: 50px; margin-bottom:50px; width: 65%;">
<h5 style="color:#7B0A0A">Terms & Conditions</h5>


<p><b>1. General</b></p>

<p>Please review these terms and conditions carefully before using our website. Your use of the Austrian-website indicates your agreement to be bound by these terms and conditions. 
These terms and conditions also then apply when you use the Austrian-website or areas of it from other internet sites which provide access to the Austrian-website in full or in part. </p>


<p><b>2. Proprietary rights </b></p>

<p>All trademark rights, copyrights, database rights and other intellectual property rights to the contents of the Austrian-website, (as well as the organization and layout of the website), together with the underlying software code rest, either with Austrian or with its licensors. You may not, either in whole or in part, copy, modify, distribute or use or reproduce in other form contents of the Austrian-website, or the underlying software code, without the prior written consent of Austrian. </p>


<p><b>3. Permissible use</b></p>

<p>All Austrian-website online services (including the booking machine) are provided solely for the purpose of enabling you to check the availability of goods or services relating to your journey (the timetable, for example), make legitimate reservations, use our online check-in or transact other business with suppliers. You may only use the website in accordance with these terms and conditions and for the legally permitted purposes described above. </p>


<p><b>4. Consequences of improper use</b></p>

<p>Without prejudice to our other rights (irrespective of whether they are based on law or other regulations), we reserve the right to cancel your booking without reference to you and/or to deny you access to the Austrian-website if you have contravened these terms and conditions.  </p>

</div>