<link href="../css/confirm.css" rel="stylesheet">
<div class="container" style="margin-bottom: 100px; margin-top: 50px;" ng-controller="confirmationCtrl">


  


  <ul class="collection with-header" id="flightsInfo">
   <li class="collection-header"> <h3> Flight Information </h3></li>
   <div>
     <li class="collection-item"><h4>{{outGoingTrip.origin}} - {{outGoingTrip.destination}}</h4></li>
     <li  class="collection-item" ng-repeat="interFlight in outGoingTrip.flights">
      <div class="row">
        <div class="col s10 m5 l2">
          <p>
            <i class="material-icons" style="margin-right:5px">date_range</i>  {{interFlight.date}}
          </p>
        </div>
        <div class="col s10 m5 l2">
          <p>
            <i class="material-icons " style="margin-right:5px ; margin-left:5px">local_airport</i>  {{interFlight.airport}}
          </p>
        </div>
        <div class="col s10 m5 l2">
          <p>
            <i class="material-icons" style="margin-right:5px ; margin-left:5px">access_time</i>  {{interFlight.duration}} hours
          </p>
        </div>
        <div class="col s10 m5 l2">
          <p>
            <i class="material-icons" style="margin-right:5px ; margin-left:5px">attach_money</i>  {{interFlight.class}}
          </p>
        </div>
        <div class="col s10 m5 l2">
          <p>
           <i class="material-icons" style="margin-right:5px ; margin-left:5px">airline_seat_recline_normal</i>  {{interFlight.seat}}
          </p>
        </div>
      </div>
    </li>
  </div>

  <div>
    <li class="collection-item"><h4>{{returnTrip.origin}} - {{returnTrip.destination}}</h4></li>
    <li  class="collection-item" ng-repeat="interFlight in returnTrip.flights">
     <div class="row">
        <div class="col s10 m5 l2">
          <p>
            <i class="material-icons" style="margin-right:5px">date_range</i>  {{interFlight.date}}
          </p>
        </div>
        <div class="col s10 m5 l2">
          <p>
            <i class="material-icons " style="margin-right:5px ; margin-left:5px">local_airport</i>  {{interFlight.airport}}
          </p>
        </div>
        <div class="col s10 m5 l2">
          <p>
            <i class="material-icons" style="margin-right:5px ; margin-left:5px">access_time</i>  {{interFlight.duration}} hours
          </p>
        </div>
        <div class="col s10 m5 l2">
          <p>
            <i class="material-icons" style="margin-right:5px ; margin-left:5px">attach_money</i>  {{interFlight.class}}
          </p>
        </div>
        <div class="col s10 m5 l2">
          <p>
           <i class="material-icons" style="margin-right:5px ; margin-left:5px">airline_seat_recline_normal</i>  {{interFlight.seat}}
          </p>
        </div>
      </div>
   </li>
 </div>
</ul>



<ul class="collection with-header" id="passengerInfo">
 <li class="collection-header"> <h3> Passengers Information </h3></li>
 <li  class="collection-item" ng-repeat="passenger in passengers">
  <div class="row">

        <div class="col s12"> <h3>{{passenger.type}}</h3></div>
    <div class="col s12 m6 l3"><h4>firstname</h4><p>{{passenger.firstName}}</p></div>
    <div class="col s12 m6 l3"><h4>lastName</h4><p>{{passenger.lastName}}</p></div>
    <div class="col s12 m6 l3"><h4>Email Address</h4><p>{{passenger.emailAddress}}</p></div>
  </div>
  <div class="row">
    <div class="col s12 m6 l3" ng-show = "passenger.birthDate" ><h4>Birthdate</h4><p>{{passenger.birthDate}}</p></div>
    <div class="col s12 m6 l3"><h4>Nationaity</h4><p>{{passenger.nationality}}</p></div>
    <div class="col s12 m6 l3"><h4>PassportNumber</h4><p>{{passenger.passportNumber}}</p></div>
    
  </div>
 </li>
</ul>
<button ng-click="confirm()" id="confirmInfo"class="btn waves-effect waves-light red darken-2" type="submit" name="action"> Confirm
 </button>

</div>
