<div class="container" style="margin-top: 50px">
<h5 style="color:#7B0A0A">Frequently Asked Questions</h5>
<ul class="collapsible popout" data-collapsible="accordion" watch>
    <li>
        <div class="collapsible-header">
        	What costs apply when changing a booking?
        </div>
        <div class="collapsible-body">
        	<p>
        		To change your booking details you pay a rebooking fee and a handling charge, depending on the type of ticket. If you rebook in a higher booking class you will also have to pay the difference between the original fare and the new one. As a general rule, you may rebook your ticket in the same booking class or a higher one – provided there are still seats available.
        	</p>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
        	What could be the problem if web check-in doesn't work for me?
        </div>
        <div class="collapsible-body">
        	<p>
        		Please check the data you have entered for any typing errors, and try again. If there are problems when checking in with your Miles and More number, please insert your ticketnumber or bookingcode instead. 
        	</p>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
        	How long before departure can I check in online
        </div>
        <div class="collapsible-body">
        	<p>
        		You can check in online as much as 47 hours before departure. 
        	</p>
        </div>
    </li>

    <li>
        <div class="collapsible-header">
        	Do I receive a booking acknowledgement after completing a booking?
        </div>
        <div class="collapsible-body">
        	<p>
        		After completing the booking you will see a booking confirmation on your screen and a confirmation has been sent to you by e-mail.
        	</p>
        </div>
    </li>
</ul>
</div>