<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <base href="../public">
    <title>Austrian Airlines</title>

    <!-- CSS  -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!--Angularjs-->
    <script src="js/angular.min.js"></script>

    <!--  Scripts-->
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/materialize.min.js"></script>

    <!--Main app-->
    <script src="js/app.js"></script>

  </head>
    <body>
      <div class="container">
        <h1>Austrian Airlines</h1>

    <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/images/comfortable.jpg"> <!-- random image -->
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
      </div>
    </body>
</html>
