<link href="../css/passengers.css" rel="stylesheet">
<link href="../css/formColors.css" rel="stylesheet">


<div class="container" style="margin-bottom: 100px; margin-top: 50px;" ng-controller="passengerViewCtrl">


  <!-- Progress bar goes here  -->
  <!-- <div class="progtrckr-table" style="margin-bottom: 50px;">
  <div class="progtrckr-done">Select Flight</div>
  <div class="progtrckr-doing">Passengers details</div>
  <div class="progtrckr-todo">Payement </div>
  <div class="progtrckr-todo">Complete!</div>
  </div> -->
  <ng-include
    src="'views/partials/stepper.html'">
  </ng-include>
  <!-- Flights Info goes here -->
  <ul class="collection with-header z-depth-3" id="flightsInfo">
   <li class="collection-header "> <h3> Flight Information </h3></li>
   <div>
     <li class="collection-header"><h4>{{infoFlow.getOutGoingTrip().flights[0].origin_abb}} - {{infoFlow.getOutGoingTrip().flights[infoFlow.getOutGoingTrip().flights.length - 1].destination_abb}}</h4></li>
     <li  class="collection-item" ng-repeat="interFlight in infoFlow.getOutGoingTrip().flights">
      <div class="row">
        <div class="col s10 m6 l3">
          <p>
            <i class="material-icons" style="margin-right:5px">date_range</i>  {{interFlight.departure_time}}
          </p>
        </div>
        <div class="col s10 m6 l3">
          <p>
            <i class="material-icons " style="margin-right:5px ; margin-left:5px">local_airport</i>  {{interFlight.origin_abb}}
          </p>
        </div>

        <div class="col s10 m6 l3">
          <p>
            <i class="material-icons" style="margin-right:5px ; margin-left:5px">attach_money</i>  {{infoFlow.getOutGoingTrip().class}}
          </p>
        </div>
        <div class="col s10 m6 l3">
          <p>
           <i class="material-icons" style="margin-right:5px ; margin-left:5px">airline_seat_recline_normal</i>  32B
          </p>
        </div>
      </div>





    </li>
  </div>


  <li class="collection-header "><h4>{{infoFlow.getReturnTrip().flights[0].origin_abb}} - {{infoFlow.getReturnTrip().flights[infoFlow.getReturnTrip().flights.length - 1].destination_abb}}</h4></li>
  <li  class="collection-item" ng-repeat="interFlight in infoFlow.getReturnTrip().flights">
   <div class="row">
        <div class="col s10 m6 l3">
          <p>
            <i class="material-icons" style="margin-right:5px">date_range</i>  {{interFlight.departure_time}}
          </p>
        </div>
        <div class="col s10 m6 l3">
          <p>
            <i class="material-icons " style="margin-right:5px ; margin-left:5px">local_airport</i>  {{interFlight.origin_abb}}
          </p>
        </div>

        <div class="col s10 m6 l3">
          <p>
            <i class="material-icons" style="margin-right:5px ; margin-left:5px">attach_money</i>  {{infoFlow.getOutGoingTrip().class}}
          </p>
        </div>
        <div class="col s10 m6 l3">
          <p>
           <i class="material-icons" style="margin-right:5px ; margin-left:5px">airline_seat_recline_normal</i>  32B
          </p>
        </div>
      </div>
 </li>

</ul>


<!-- Form goes here  -->
<!-- <div class="container col s12 m6"> -->
<ul class="collection with-header" id="passengerInfo">
 <li class="collection-header"> <h3> Passengers Information </h3></li>


 <div class="row">
   <form  ng-submit="submitForm()">
    <ul class="collection with-header" ng-repeat="passenger in passengers track by $index">
     <li class="collection-header "><h4>Passenger {{$index + 1}} - {{ passenger.type}}</h4></li>
     <li  class="collection-item">
       <div class="container">
         <div class="row">
           <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
             <input id="first_name" type="text" class="validate" ng-model="formData[$index].firstName" required>
             <label for="first_name">First Name</label>
           </div>
           <div class="input-field col s6">
             <i class="material-icons prefix">account_circle</i>

             <input id="last_name" type="text" class="validate" ng-model="formData[$index].lastName" required>
             <label for="last_name">Last Name</label>
           </div>
         </div>
         <div class="row">
           <div class="input-field col s6">
             <i class="material-icons prefix">email</i>
             <input id="Email" type="email" class="validate" ng-model="formData[$index].emailAddress" required>
             <label for="Email">Email</label>
           </div>
           <div class="input-field col s6">
             <i class="material-icons prefix">pan_tool</i>

             <input id="PassportNumber" type="text" class="validate" ng-model="formData[$index].passportNumber" required>
             <label for="PassportNumber">Passport Number</label>
           </div>
         </div>
         <div class="row">
           <div class="input-field col s6">
             <i class="material-icons prefix">location_on</i>
             <input id="Nationality" type="text" class="validate" ng-model="formData[$index].nationality" required>
             <label for="Nationality">Nationality</label>
           </div>
          <div class="input-field col s6">
            <i class="material-icons prefix">today</i>

                  <input ng-model="formData[$index].birthDate" input-date type="text"  select-years="60" required>
                  <label for="">Birth Date</label>
          </div>
         </div>
       </div>

     </li>
   </ul>
   <button style="float:right;"class="btn waves-effect waves-light red darken-1" type="submit" name="action"> Continue
   </button>
 </form>
</div>
</ul>
<!-- </div> -->

</div>
