<link href="css/formColors.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="css/payment.css" type="text/css" rel="stylesheet" media="screen,projection"/>


<!--container div-->
<div class="container bar" ng-controller="PaymentController">
    <link href="css/stepper.css" rel="stylesheet">
<div >
  <!--progress bar-->
  <div class="mdl-card mdl-shadow--2dp">

    <div class="mdl-card__supporting-text">

      <div class="mdl-stepper-horizontal-alternative">
        <div class="mdl-stepper-step active-step step-done">
          <a href="/flights">
          <div class="mdl-stepper-circle"><span>1</span></div>
          <div class="mdl-stepper-title">Select Flight</div>
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
          </a>
        </div>
        <div class="mdl-stepper-step active-step step-done">
          <a href="/passengers">
            <div class="mdl-stepper-circle"><span>2</span></div>
            <div class="mdl-stepper-title">Passengers Details</div>
            <div class="mdl-stepper-bar-left"></div>
            <div class="mdl-stepper-bar-right"></div>
          </a>
        </div>
        <div class="mdl-stepper-step active-step step-done">
          <a href="/confirmation">
            <div class="mdl-stepper-circle"><span>3</span></div>
            <div class="mdl-stepper-title">Confirm Information</div>
            <div class="mdl-stepper-bar-left"></div>
            <div class="mdl-stepper-bar-right"></div>
          </a>
        </div>
        <div class="mdl-stepper-step active-step">
          <div class="mdl-stepper-circle"><span>4</span></div>
          <div class="mdl-stepper-title">Payment</div>
          <div class="mdl-stepper-bar-left"></div>
          <div class="mdl-stepper-bar-right"></div>
        </div>
      </div>

    </div>

  </div>
  <br/>

        <!--Payment block-->
        <div class="card-panel grey lighten-3 payment-block" id="form" ng-hide="loading" >

          <div class="form-header">
            <h5 class="red-text text-darken-2">Payment Form</h5>
          </div>
          <hr class="hr">

          <img src="assets/images/creditcards.png" alt="" class="responsive-img">
          <hr class="hr">

          <div>
            <!--Form-->
            <form name="paymentForm" class="col s12" ng-submit="payForBooking()">
              <!--cardNo-->
              <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">payment</i>
                  <input  ng-model="cardNo" id="cardNo" type="text" class="validate">
                  <label for="cardNo">Card No.</label>
                  <div class="paymentError" ng-show="error.number"><i class="tiny material-icons">error</i> {{error.message}}</div>
                </div>
              </div>

              <!--CVV-->
              <div class="row">
                <div class="input-field col s6">
                <i class="material-icons prefix">payment</i>
                  <input  ng-model="cvv" id="cvv" type="text" class="validate">
                  <label for="cvv">CVV</label>
                  <div class="paymentError" ng-show="error.cvv"><i class="tiny material-icons">error</i> {{error.message}}</div>
                </div>

                <!--Expiry date-->
                <div class="input-field col s6">
                  <i class="material-icons prefix">date_range</i>
                  <input id="expirydate" name="expirydate" ng-model="expiryDate" input-date type="text"  select-years="15"required>
                  <label for="expirydate">Expiry Date</label>
                  <div class="paymentError" ng-show="error.date"><i class="tiny material-icons">error</i> {{error.message}}</div>
                </div>
              </div>

              <!--Submition button-->
              <div class="row">
                <div class="input-field col s12">
                  <input class="btn waves-effect waves-light red book-button" type="submit" value="Book Now">
                </div>
              </div>
            </form>
          </div>
        </div>
        <br/>
        <!--Total price-->
        <div ng-hide="loading">
          <h5 class="center-align red-text text-darken-2">
            Total Cost: {{totalCost}} {{currency}}
          </h5>
        </div>
        </div>
         <div class="loading" ng-show="loading">
      <div class="paymentLoader preloader-wrapper small active" >
        <div class="spinner-layer spinner-red" >
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
        </div>
      </div>
  </div>
    </div>
   
    <br/>
