  input[type="radio"].with-gap:checked+label:after
  {
    background-color: #ef5350;
    border-color: #ef5350;
  }

  input[type="radio"].with-gap:checked+label:before
  {
    border-color: #ef5350;
  }

  .show_info i
  {

  }
  .flights_table td, .flights_table th
  {
    text-align: center;
  }
  .flights_table th
  {
    background-color: #D32F2F;
    color: white;
  }
  .full_info
  {
    position: absolute;
    z-index: 5;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.6);
    background-color: #E53935;
  }
  .show_info i {
    color: #ef5350;
}
.full_info .card
{
  box-shadow: none;
  border-bottom: 1px solid #D32F2F;
}
.out
{
  margin-top: 10px;
}
.thh
{
  background-color: #ef5350; 
  border-radius: 5px
}
.info1
{
  -webkit-transform: rotate(180deg) translateY(-4px);
}
.info_icon
{
  cursor: pointer;
}
.trans_card
{
  max-width: 300px;
}
.font10
{
  font-size: 10px
}
.font12
{
  font-size: 12px
}
.font15
{
  font-size: 15px
}
.button_div
{
  padding-top: 20px
}
.reserve
{
  float: right;
}