/* Slider */
.slides span{
   color: black;
}

.slides .caption{
   margin-left: -100px;
   box-shadow: 0px 0px 45px 45px rgba(255, 255, 255, 0.5);
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 50px;
   max-width: 450px;

}

/* Search-Flight Form */
.flight{
   position: absolute;
   opacity: 0.95;
   right: 10px;
   top: 80px;
   z-index: 100;
   width: 40%;
   max-width: 500px;
   min-width: 300px;
}

.card-action{
  min-height: 80px;
}

/* Left input fields of the form */
.form-left{
  margin: auto;
  margin-left: 30px;

  padding: 0px;
  display: inline-block;
  width: 35%;

}

/* Right input fields of the form */
.form-right{
  margin: auto;
  margin-left: 50px;
  display: inline-block;
  width: 35%;
}

.trip-type-left{
  margin-left: -5px;
}


.trip-type-right{
  margin-left: 50px;
}

.flight i{
  float: left;
  margin-left:-35px;
  margin-top:14px;
}

/* Information about Airlines section */

.about-div.container
{

  width:85%;
}

.about-div h5{
  text-align: center;

}

.about-div p{
  text-align: justify;
  padding: 20px;
}


/* All airlines checkbox styling */
.allAirlinesCheckbox
{
  text-align: right;
  margin-left: 20px;
  margin-top: 24px;
}


.allAirlinesCheckbox input[type="checkbox"]+label:before {
  border-color: white;
}
.allAirlinesCheckbox input[type="checkbox"]:checked+label:before {
  border-top: none;
  border-left: none;
}

/*  Auto-complete Styling  */
/* =|=|=|=|=|=|=|=|=|=|=|= */

md-input-container input[type=search] {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}

md-input-container input[type=search]:focus{
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
  border-color: white !important;
}

md-input-container label,  md-input-container .md-input {
  font-size: 14px;
  color: white !important;
}

md-input-container .md-input{
  margin-top: 7px;
}
md-input-container label{
  margin-left: 8px;
}

md-autocomplete{
  min-width: inherit;
}

md-input-container{
  margin: auto;
  padding: 0px;
}

md-autocomplete[md-floating-label] md-input-container{
  padding-bottom: 0px;
}

.md-errors-spacer{
  display: none;
}

md-virtual-repeat-container{
  color: red !important;
  width: 32% !important;
  margin-top: 3px !important;
}

body > md-virtual-repeat-container:nth-child(8){
  margin-left: -17% !important;
}


li > md-autocomplete-parent-scope > span{
  color: #ef5350;
}

/* Media Queries for different viewports */
@media (max-width: 810px){
	.slides h2{
		font-size: 35px;
		width: 250px;
		margin-left: 30px;
	}
	.form-left, .form-right{
		width: 30%;
	}
	.trip-type-left, .trip-type-right
	{
		width: 40%;
	}

  .trip-type-right{
    margin-left: 8%;
  }
}
@media (max-width: 615px){
  .row .col.s6{
    width: 100%;
  }
  md-virtual-repeat-container{
    width: 200px !important;
  }

  body > md-virtual-repeat-container:nth-child(8){

    margin-left: 0% !important;

  }
}

@media (max-width: 550px){
	.slides h2{
		display: none;
	}
	.flight{
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
	}

}
