.slides span{
    color: black ;
    /*text-shadow: 0 0 2px black;*/
    box-shadow:0px 0px 15px 15px rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;

}

.slider .indicators .indicator-item.active {
  background-color: #A80000;
}
