#passengerInfo {
  margin-bottom: 30px;
  border : 2px solid grey;
  padding: 30px;
}




#confirmInfo {
  float: right;


}

#flightsInfo {
  margin-bottom:40px;
  border : 2px solid grey;
  padding: 30px;
}



#flightsInfo h3, #passengerInfo h3
{
  font-size: 25px;
}

<<<<<<< HEAD
#flightsInfo ul {
  width: 90%;
  margin: 0 auto ;
 margin-top:10px;
 margin-bottom:10px;
 border-color:grey;
}
=======
#flightsInfo h4, #passengerInfo h4
{
  font-size: 23px;
}
>>>>>>> 38489546ef30219c07ac16c1263c228d066c48a2
