#passengerInfo {
  margin-bottom: 30px;
  border : 2px solid grey;
  padding: 30px;
}




#confirmInfo {
  float: right;


}

#flightsInfo {
  margin-bottom:40px;
  border : 2px solid grey;
  padding: 30px;
}



#flightsInfo h3, #passengerInfo h3
{
  font-size: 25px;
}

#flightsInfo h4, #passengerInfo h4
{
  font-size: 23px;
}

.picker__date-display
{
  background-color: #e53935;
}
.picker__weekday-display
{
  background-color: #e53935;
}
.picker__day--selected
{
  background-color: #e53935 !important;
}

.picker__close
{
  color: red;
}
.picker__today
{
  color: red;
}

div.progtrckr-table {
width: 100%;
display: table;
table-layout: fixed;
margin-bottom: 20px;
}
div.progtrckr-table div {
display: table-cell;
width: 2%;
text-align: center;
padding-bottom: 0.5em;
vertical-align: bottom;
}
div.progtrckr-table div.progtrckr-done,
div.progtrckr-table div.progtrckr-doing {
color: black;
border-bottom: 4px solid red;
}
div.progtrckr-table div.progtrckr-todo {
color: silver;
border-bottom: 4px solid silver;
}
div.progtrckr-table div:after {
content: "\00a0\00a0";
}
div.progtrckr-table div:after {
position: relative;
float: left;
left: 50%;
bottom: -1.3em;
line-height: 1.2em;
}
div.progtrckr-table div.progtrckr-done:after {
content: "\2713";
color: white;
background-color: red;
height: 1.2em;
width: 1.2em;
border: none;
border-radius: 1.2em;
}
div.progtrckr-table div.progtrckr-doing:after {
content: url("../assets/images/airplane_18.png");
/*"\039F"*/
color: red;
background-color: white;
font-size: 1.5em;
bottom: -1.1em;
}
div.progtrckr-table div.progtrckr-todo:after {
content: "\039F";
color: silver;
background-color: white;
font-size: 1.5em;
bottom: -1.1em;
}
