.input-field .prefix.active
{
	color: #F44336;
}

.payment-block {

	margin-left:auto;
	margin-right:auto;
	min-width:300px;
	width: 70%;
	border: 1.5px solid #eeeeee;
}

.form-header {

	margin-bottom: 20px;
}

.hr {

	border-color:red;
}

.book-button {

	width: 100%;
}

.congratulations {

	margin-top: 10%;
	margin-left:auto;
	margin-right:auto;
	min-width:300px;
	width: 40%;
	border: 1.5px solid #eeeeee;
}

.paragraph {

	margin-left: 3%;
}

.home-button {

	width: 100%;
}

.bar {

	min-width: 300px;
}

.paymentError {
  color : #b71c1c;
  font-style: italic;
  vertical-align: middle;

  -webkit-transition:all linear 0.5s !important;
  transition:all linear 0.5s;
}

.paymentError.ng-hide {
  opacity:0;
}



.paymentLoader.preloader-wrapper.small.active{
	width: 60px;
	height: 60px;
	position: absolute;
  margin: auto;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}
