<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="confirmController">

<head>

  <title> Austrian - airlines </title>
  <link href="css/bootstrap.min.css" rel="stylesheet">

      <!-- Custom CSS -->
      <link href="css/confirm.css" rel="stylesheet">
      <!-- angular-->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <script src="./js/controllers.js"></script>
</head>



<!-- Steps div -->
<div class="container">


            <div class="row bs-wizard" style="border-bottom:0;">

                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Select flight</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <!-- <div class="bs-wizard-info text-center">Lorem ipsum dolor sit amet.</div> -->
                </div>

                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Confirmation</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <!-- <div class="bs-wizard-info text-center">Nam mollis tristique erat vel tristique. Aliquam erat volutpat. Mauris et vestibulum nisi. Duis molestie nisl sed scelerisque vestibulum. Nam placerat tristique placerat</div> -->
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Payment</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <!-- <div class="bs-wizard-info text-center">Integer semper dolor ac auctor rutrum. Duis porta ipsum vitae mi bibendum bibendum</div> -->
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                  <div class="text-center bs-wizard-stepnum">Complete!</div>
                  <div class="progress"><div class="progress-bar"></div></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <!-- <div class="bs-wizard-info text-center"> Curabitur mollis magna at blandit vestibulum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</div> -->
                </div>
            </div>
          </div>


          <!-- End of steps div -->


            <!-- Flights info -->
<div class="panel panel-primary col-md-8" style="margin-left:20%">
   <div class="panel-heading">Flight Info</div>
   <div class="panel-body">

 <div ng-repeat="flight in flights">
     <h1> {{flight.from}} - {{flight.to}} </h1>
     <div ng-repeat="Info in flight.FlightInfo">
     <p>  <span class="label label-info">Date</span> {{Info.Date}}
        <span class="label label-info">From:</span> {{Info.Airport}}
         <span class="label label-info">Duration:</span> {{Info.Duration}}
         <span class="label label-info">Class</span> {{Info.class}}
          <span class="label label-info">Seat</span> {{Info.seatMap}} </p>
        </div>
  </div>
  </div>

  <div class="panel-body">




 </div>
 </div>
</div>

        <!-- End of flights info div -->


 <div class="panel panel-primary col-md-8" style="margin-left:20%">
    <div class="panel-heading">Passengers Info</div>
  <div class="panel-body">


  <div ng-controller="confirmController">
	<form  ng-submit="submitForm()">
    <div class="container"  ng-repeat="passenger in passengers track by $index">
      <!-- Open panel -->
      <div class="panel panel-info col-md-12" >
         <div class="panel-heading">{{passenger.type}}</div>
       <div class="panel-body">

         <div class="form-group col-md-6">
           <label for="FirstName">First Name</label>
           <input type="text" class="form-control" name="FirstName" id="FirstName" placeholder="First Name" ng-model="formData[$index].firstName" required>
         </div>

         <div class="form-group col-md-6">
           <label for="LastName">Last Name</label>
           <input type="text" class="form-control" name="LastName" id="LastName" placeholder="Last Name" ng-model="formData[$index].lastName" required>
         </div>

         <div class="form-group col-md-6">
           <label for="EmailAddress">Email </label>
           <input type="email" class="form-control" id="EmailAddress" name="EmailAddress" placeholder="Email" ng-model="formData[$index].emailAddress" ng-model-options="{ updateOn: 'blur' }" required>
           <div ng-show="form.EmailAddress.$dirty && form.EmailAddress.$invalid" class="bg-danger">Invalid:
               <span ng-show="form.EmailAddress.$error.required">Tell us your email.</span>
               <span ng-show="form.EmailAddress.$error.email">This is not a valid email.</span>
         </div>
        </div>


         <div class="form-group col-md-6">
           <label for="LastName">Passport Number</label>
           <input type="text" class="form-control" name="PassportNumber" id="PassportNumber" placeholder="Passport Number" ng-model="formData[$index].PassportNumber" required>
         </div>

         <div class="form-group col-md-6">
           <label for="LastName">Nationality</label>
           <input type="text" class="form-control" name="Nationality" id="Nationality" placeholder="Nationality" ng-model="formData[$index].Nationality" required>
         </div>

  </div>
</div>
<!--  End of panel  -->
  </div>
  <div class="form-group">
    <button type="submit">Submit</button>
  </div>
	</form>
</div>
</div>
</div>
