<ion-view>
<ion-nav-title>About Austrian Airlines</ion-nav-title>
<ion-content>
<div style="position: absolute; left: 0px; right: 0px; margin: auto; width: 90%; padding: 10px; padding-top: 30px;">
	<h5 style="color:#7B0A0A">About Austrian Airlines</h5>
	
	<p class="">
		Austrian Airlines is Austria’s largest carrier and operates a global route network of approximately 130 destinations, being particularly dense in Central and Eastern Europe with 37 destinations. 
	</p>
	<img src="img/about.gif" style="width: 80%">
	<p class="">
		Thanks to its favourable geographical location at the heart of Europe, the company’s hub at Vienna International Airport is the ideal gateway between East and West. Austrian Airlines is part of the Lufthansa Group, Europe’s largest airline group, and a member of the Star Alliance, the first global alliance of international airlines. 
	</p>

	<h5 style="color:#7B0A0A">Contact Us</h5>
	<div class="social-icons">
            <a style="margin:10px;" href="http://www.facebook.com/AustrianAirlines" class="btn-floating blue btn-large"><i class="ion-social-facebook"></i></a>
            <a style="margin:10px;" href="http://www.youtube.com/user/austrianairlinesag" class="btn-floating red accent-4 btn-large"><i class="ion-social-youtube"></i></a>
            <a style="margin:10px;" href="http://twitter.com/_austrian" class="btn-floating light-blue btn-large" ><i class="ion-social-twitter"></i></a>
     </div>
</div>
</ion-content>
</ion-view>