<ion-view cache-view="false">
<ion-nav-title>Booking</ion-nav-title>
<ion-content>
<div style="position: absolute; left: 0px; right: 0px; margin: auto; width: 90%; padding: 10px; padding-top: 30px;" ng-controller="bookingHistoryController">
	<link href="../css/passengers.css" rel="stylesheet">
    <div ng-hide="notFound">
        <!-- Flight Information  -->
        <div class="card">
            <div class="item item-divider red lighten-1">
            <h2 class="white-text infoBar">Flight Information</h2>
            </div>
        </div>
        <ion-list ng-controller="collapsableController">
            <!--  Outgoing Flight Information -->
            <ul class="collection with-header">
                <li class="collection-header item item-stable grey lighten-3"
                    ng-click="toggleGroup(1)"
                    ng-class="{active: isGroupShown(1)}">
                    <div class="orginDestination">{{origin}} - {{destination}}</div>
                    <div class="flight-date">{{departureDate}} <i class="flightCollapseIcon icon ion-ios-arrow-down tiny"></i> </div>
                </li>
                <li class="collection-item item item-accordion"
                    ng-show="isGroupShown(1)">
                    <div class="row">
                        <div class="col s6">{{outgoingFlight.departureDateTime}} - {{outgoingFlight.arrivalDateTime}}</div>
                        <div class="col s6">{{outgoingFlight.Airline}}</div>
                    </div>
                    <div class="row">
                        <div class="col s6">{{flightClass}}</div>
                        <div class="col s6"> {{outgoingFlight.cost}} {{outgoingFlight.currency}}</div>
                    </div>
                </li>
            </ul>
            <!--  Return Flight Information -->
            <ul class="collection with-header " ng-show="tripType==2">
                <li class="collection-header item item-stable grey lighten-3"
                    ng-click="toggleGroup(2)"
                    ng-class="{active: isGroupShown(2)}">
                    <div class="orginDestination">{{returnFlight.origin}} - {{returnFlight.destination}}</div>
                    <div class="flight-date">{{arrivalDate}} <i class="flightCollapseIcon icon ion-ios-arrow-down tiny"></i></div>
                    <ion-icon name="arrow-dropdown-circle"></ion-icon>
                </li>
                <li class="collection-item item item-accordion"
                    ng-show="isGroupShown(2)">
                    <div class="row">
                        <div class="col s6">{{returnFlight.departureDateTime}} - {{returnFlight.arrivalDateTime}}</div>
                        <div class="col s6">{{returnFlight.Airline}}</div>
                    </div>
                        <div class="row">
                        <div class="col s6">{{flightClass}}</div>
                        <div class="col s6"> {{returnFlight.cost}} {{returnFlight.currency}}</div>
                    </div>
                </li>
            </ul>
        </ion-list>

        <!-- Passenger Information -->
        <div class="card">
            <div class="item item-divider red lighten-1">
                <h2 class="white-text infoBar">Passenger Information</h2>
            </div>
        </div>
        <!-- Adults Information -->
        <ion-list ng-controller="collapsableController" data-ng-init="openFirstAccordion()">
            <div ng-repeat="passenger in booking.passengerDetails" ng-hide = "passenger.isChild">
                <ul class="collection with-header ">
                    <li class="collection-header item item-stable grey lighten-3"
                        ng-click="toggleGroup($index)"
                        ng-class="{active: isGroupShown($index)}">
                        <div class="orginDestination">Passenger {{$index + 1}} - Adult</div>
                        <i class="passengerCollapseIcon icon ion-ios-arrow-down tiny" style="float:right"></i>
                    </li>
                    <li class="collection-item item item-accordion"
                        ng-show="isGroupShown($index)">
                        <div class="row item item-accordion">
                            <i class="icon ion-person tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>First Name</h4>
                                <p>{{passenger.firstName}} </p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-person tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Last Name</h4>
                                <p>{{passenger.lastName}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-email tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Email</h4>
                                <p>{{passenger.email}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-earth tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Passport Number</h4>
                                <p>{{passenger.passportNum}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                        <i class="icon ion-location tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Nationality</h4>
                                <p>{{passenger.nationality}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-calendar tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Birth Date</h4>
                                <p>{{passenger.dateOfBirth}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-android-walk tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Seat</h4>
                                <p>{{passenger.seat}}</p>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

        <!-- Children Information -->
            <div ng-repeat="passenger in booking.passengerDetails" ng-show = "passenger.isChild" >
                <ul class="collection with-header ">
                    <li class="collection-header item item-stable grey lighten-3"
                        ng-click="toggleGroup($index)"
                        ng-class="{active: isGroupShown($index)}">
                        <div class="orginDestination">Passenger {{$index + 1}} - Child</div>
                        <i class="passengerCollapseIcon icon ion-ios-arrow-down tiny" style="float: right"></i>
                    </li>
                    <li class="collection-item item item-accordion"
                        ng-show="isGroupShown($index)">
                        <div class="row item item-accordion">
                            <i class="icon ion-person tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>First Name</h4>
                                <p>{{passenger.firstName}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-person tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Last Name</h4>
                                <p>{{passenger.lastName}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-earth tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Passport Number</h4>
                                <p>{{passenger.passportNum}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-location tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Nationality</h4>
                                <p>{{passenger.nationality}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-calendar tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Birth Date</h4>
                                <p>{{passenger.dateOfBirth}}</p>
                            </label>
                        </div>
                        <div class="row item item-accordion">
                            <i class="icon ion-android-walk tiny formIcons"></i>
                            <label class="item item-input item-stacked-label">
                                <h4>Seat</h4>
                                <p>{{passenger.seat}}</p>
                            </label>
                        </div>
                    </li>
                </ul>
            </div>
        </ion-list>
        </div>
        <div ng-show="notFound" style="padding-left:10px; padding-right:10px">
          <div class="card-panel grey lighten-3 congratulations">
            <h5>Sorry!</h5>
            <p class="paragraph">No matching results.</p>
            <div class="row">
                  <div class="input-field col s12">
                      <a ng-click="goToHome()" 
                       class="btn waves-effect waves-light red home-button"
                       name="home">BACK TO HOME
                      <i class="material-icons right">replay</i>
                      </a>
                  </div>
              </div>
          </div>
        </div>
</div>
</ion-content>
</ion-view>