<ion-view>
<ion-nav-title>View Booking</ion-nav-title>
<ion-content>
<link href="css/landing.css" rel="stylesheet">
<div ng-controller="bookingHistoryFormController" style="position: absolute; left: 0px; right: 0px; margin: auto; width: 90%; padding: 10px; padding-top: 30px;">
    <div class="errorContainer">
        <div class="errorToast" ng-show="error">{{error}}</div>
    </div>
    <div class="list" >
        <h3 id="search-header" class="padding-normal condensed light card-panel grey lighten-3">Booking History</h3>
        <br><br>
        <label class="item item-input">
            <i class="material-icons prefix">payment</i>
            <div style="margin-right:20px;  margin-left:10px">
                <input ng-model="request.bookingNumber" type="text" placeholder="Booking No.">
            </div>
        </label>
        <br>
        <label class="item item-input">
            <i class="material-icons prefix">payment</i>
            <div style="margin-right:20px; margin-left:10px">
                <input ng-model="request.passportNumber" type="text" placeholder="Passport No.">
            </div>
        </label>
        <br><br>

        <!-- Find Booking button-->
        <div class="center modal-footer padding-normal">
            <a style="max-width:250px;" ng-click="searchBooking()"
                class="modal-action modal-close btn waves-effect waves-light red book-button"
                name="showHistory">View Booking <i class="material-icons right">send</i>
            </a>
        </div>
    </div>
</div>
</ion-content>
</ion-view>
