<ion-tabs class="tabs-assertive tabs-icon-top">

        <ion-tab title="Book" icon-on="ion-paper-airplane" icon-off="ion-paper-airplane">
          <ion-nav-view name="tab-book">
          	<div style="margin-top:50px">
          		Search flights form here
          	</div>
            <!-- Tab 1 content -->
          </ion-nav-view>
        </ion-tab>

        <ion-tab title="View Booking" icon-on="ion-ios-pricetag" icon-off="ion-ios-pricetag-outline">
        	<ion-nav-view name="tab-view-booking">
        	<div style="margin-top:50px">
          		view booking form here
          	</div>
            <!-- Tab 1 content -->
          	</ion-nav-view>

        </ion-tab>


</ion-tabs>