<link href="css/form.css" rel="stylesheet">
<ion-tabs class="tabs-assertive tabs-icon-top">

    <!-- Search flights form -->
    <ion-tab title="Book" icon-on="ion-paper-airplane" icon-off="ion-paper-airplane" ng-controller="searchFlightController as searchCtrl">
      <ion-nav-view name="tab-book">
      	<div style="margin-top:50px;" class="">
            <div class="list">

                <div class="list-fields">
                    <h3 id="search-header" class="condensed light card-panel grey lighten-3">Find Flights</h3>
                    <!-- Origin Airport -->

                    <div ng-controller="autoCompleteController as ctrl" class="padding">
                      <i class="material-icons">flight_takeoff</i>
                      <md-autocomplete required
                          md-input-name="autocompleteField"
                          md-selected-item="formData.origin"
                          md-search-text="ctrl.searchText"
                          md-items="item in ctrl.querySearch(ctrl.searchText)"
                          md-item-text="item.display"
                          md-floating-label="From">
                        <md-item-template>
                          <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                             No airports matching "{{ctrl.searchText}}" were found.
                        </md-not-found>
                      </md-autocomplete>
                    </div>
                    <hr>
                    <!-- Destination Airport -->
                    <div ng-controller="autoCompleteController as ctrl" class="padding">
                    <i class="material-icons">flight_land</i>
                      <md-autocomplete required
                          md-input-name="autocompleteField"
                          md-selected-item="formData.destination"
                          md-search-text="ctrl.searchText"
                          md-items="item in ctrl.querySearch(ctrl.searchText)"
                          md-item-text="item.display"
                          md-floating-label="To">
                        <md-item-template>
                          <span md-highlight-text="ctrl.searchText">{{item.display}}</span>
                        </md-item-template>
                        <md-not-found>
                             No airports matching "{{ctrl.searchText}}" were found.
                        </md-not-found>
                      </md-autocomplete>
                    </div>
                    <hr>
                    <!-- Adults Count -->
                    <i class="material-icons" style="float:left; margin-left:10px; margin-top:10px">person</i>
                    <div class="padding">
                        <select  ng-model="formData.adults">

                            <option value="" disabled selected>Adults</option>
                            <option value="1">1 adult</option>
                            <option value="{{n}}" ng-repeat="n in searchCtrl.range">{{n}} adults</option>
                        </select>
                    </div>
                    <hr>
                    <!-- Children Count -->
                    <i class="material-icons" style="float:left; margin-left:10px; margin-top:10px">child_care</i>
                    <div class="padding">
                        <select  ng-model="formData.children">
                            <option value="" disabled selected>Children</option>
                            <option value="0">no children</option>
                            <option value="1">1 child</option>
                            <option value="{{n}}" ng-repeat="n in searchCtrl.range">{{n}} children</option>
                        </select>
                    </div>
                    <hr>
                    <!-- Trip Type -->
                    <i class="material-icons" style="float:left; margin-left:10px; margin-top:10px">card_travel</i>
                    <div class="padding">
                        <select ng-model="formData.tripType">
                            <option value="" disabled selected>Trip Type</option>
                            <option value="1">One-way</option>
                            <option value="2">Roundtrip</option>
                        </select>
                    </div>
                    <hr>
                    <!-- Departure Date -->
                    <i class="material-icons" style="float:left; margin-left:10px; margin-top:10px">date_range</i>
                    <div class="padding-date">
                        <label>
                            <input ng-model="formData.outgoingDate" placeholder="Outgoing Date" type="text" onfocus="(this.type='date')" onblur="(this.type=checkDateField(this))">
                        </label>
                    </div>
                    <hr>
                    <!-- Return Date -->
                    <i class="material-icons" style="float:left; margin-left:10px; margin-top:10px">date_range</i>
                    <div class="padding-date">
                        <label>
                            <input ng-model="formData.returnDate" placeholder="Departure Date" type="text" onfocus="(this.type='date')" onblur="(this.type=checkDateField(this))">
                        </label>
                    </div>
                    <hr>
                    <!-- Flight Class -->
                    <i class="material-icons" style="float:left; margin-left:10px; margin-top:10px">class</i>
                    <div class="padding">
                        <select ng-model="formData.flightClass" class="padding-class">
                            <option value="" disabled selected>Flight Class</option>
                            <option value="economy">Economy</option>
                            <option value="business">Business</option>
                        </select>
                    </div>
                    <!-- Search for Flights -->
                    <br>
                    <div class="center">
                        <a class="waves-effect waves-light btn red" ng-click="searchFlights()">FIND NOW!</a>
                    </div>
                </div>
            </div>
      	</div>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="View Booking" icon-on="ion-ios-pricetag" icon-off="ion-ios-pricetag-outline">
    	<ion-nav-view name="tab-view-booking">
    	<div style="margin-top:50px">
      		view booking form here
      	</div>
        <!-- Tab 1 content -->
      	</ion-nav-view>

    </ion-tab>


</ion-tabs>
