<link href="css/form.css" rel="stylesheet">
<ion-tabs class="tabs-assertive tabs-icon-top">

    <!-- Search flights form -->
    <ion-tab title="Book" icon-on="ion-paper-airplane" icon-off="ion-paper-airplane" ng-controller="landingController">
      <ion-nav-view name="tab-book">
      	<div style="margin-top:50px" class="padding">
            <div class="list">

                <div class="list-fields padding">
                    <h3 id="search-header">Find Flights</h3>
                    <!-- Origin Airport -->
                    <ion-md-input placeholder="From" type="text"></ion-md-input>
                    <!-- Origin Destination -->
                    <ion-md-input placeholder="To" type="text"></ion-md-input>

                    <!-- Adults Count -->
                    <label class="item item-input item-select">
                       <div class="input-label">
                         Adults
                       </div>
                       <select>
                         <option selected>1 adult</option>
                         <option>2 adults</option>
                         <!-- repeat -->
                       </select>
                   </label>
                    <!-- Children Count -->
                    <label class="item item-input item-select">
                       <div class="input-label">
                         Children
                       </div>
                       <select>
                         <option selected>no children</option>
                         <option>1 child</option>
                         <!-- repeat -->
                       </select>
                   </label>
                    <!-- Trip Type -->
                    <label class="item item-input item-select">
                       <div class="input-label">
                         Trip Type
                       </div>
                       <select>
                         <option selected>One-way</option>
                         <option>Roundtrip</option>
                         <!-- repeat -->
                       </select>
                   </label>
                    <!-- Departure Date -->
                    <!--  date picker -->
                    <!-- Return Date -->
                    <!--  date picker -->
                    <!-- Flight Class -->
                    <label class="item item-input item-select">
                       <div class="input-label">
                         Class
                       </div>
                       <select>
                         <option selected>economy</option>
                         <option>business</option>
                         <!-- repeat -->
                       </select>
                   </label>
                    <!-- Search for Flights -->
                    <a class="waves-effect waves-light btn white red-text" ng-click="searchFlights()">FIND NOW!</a>
                </div>
            </div>
      	</div>
      </ion-nav-view>
    </ion-tab>

    <ion-tab title="View Booking" icon-on="ion-ios-pricetag" icon-off="ion-ios-pricetag-outline">
    	<ion-nav-view name="tab-view-booking">
    	<div style="margin-top:50px">
      		view booking form here
      	</div>
        <!-- Tab 1 content -->
      	</ion-nav-view>

    </ion-tab>


</ion-tabs>
