
<ion-view cache-view="false">
<ion-nav-title>
Payment
</ion-nav-title>
<ion-content ng-controller="PaymentController as paymentCtrl">
<link href="css/payment.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<link href="css/formColors.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<div style="position: absolute; left: 0px; right: 0px; margin: auto; width: 90%; padding: 10px; padding-top: 30px;">
<!--Payment block-->
<div ng-hide="loading" style="padding:20px;" >
  </br>
  </br>
  </br>
  <div class="form-header">
    <h3 class="red-text text-darken-2" style="text-align:center">Payment Form</h3>
  </div>
  <hr class="hr">
  <div style="horizontal-allign:center">
  <img src="img/creditcards.png" alt="" class="responsive-img" style="">
  </div>
  <hr class="hr">

  <div>
    <!--Form-->
    <form name="paymentForm" class="col s12" ng-submit="payForBooking()">
      <!--cardNo-->
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-card"></i>
          <input ng-model="cardNo" class="input_field margin" type="text" placeholder="Card No.">
        </label>
         <div class="paymentError" ng-show="error.number"><i class="icons ion-alert-circled"></i> <span style="margin-left:8px">{{error.message}}</span></div>
      </div>

      <!--CVV-->
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-card"></i>
          <input ng-model="cvv" class="input_field margin" type="text" placeholder="CVV">
        </label>
        <div class="paymentError" ng-show="error.cvv"><i class="icons ion-alert-circled"></i> <span style="margin-left:8px">{{error.message}}</span></div>
      </div>

        <!--Expiry date-->
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-calendar"></i>
            <input ng-model="expiryDate" class="input_field margin" placeholder="Expiry Date" type="text" onfocus="(this.type='date')" onblur="(this.type=checkField(this))">
          </label>
          <div class="paymentError" ng-show="error.date"><i class="icons ion-alert-circled"></i> <span style="margin-left:8px">{{error.message}}</span></div>
        </div>

      <!--Submition button-->
        <div class="input-field col s12 center" style="padding:30px">
          <input style="width:200px" class="btn waves-effect waves-light red book-button"
          value="Book Now" type="submit">
        </div>
    </form>
  </div>
  <!--Total price-->
  <div style="padding-bottom:100px">
    <h5 class="center-align red-text text-darken-2">
      Total Cost: {{totalCost}} {{currency}}
    </h5>
  </div>


</div>
<!-- Loading -->
<div class="loading" ng-show="loading">
      <div class="preloader-wrapper small active" >
        <div class="spinner-layer spinner-red" >
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
        </div>
      </div>
      <div id="loading-text">
          Loading...
      </div>
</div>
</div>
</ion-content>
</ion-view>
