<link href="css/payment.css" type="text/css" rel="stylesheet" media="screen,projection"/>

<!--Payment block-->
<div style="padding:20px;" ng-controller="PaymentController as paymentCtrl">
  </br>
  </br>
  </br>
  <div class="form-header">
    <h3 class="red-text text-darken-2" style="text-align:center">Payment Form</h3>
  </div>
  <hr class="hr">
  <div style="horizontal-allign:center">
  <img src="img/creditcards.png" alt="" class="responsive-img" style="">
  </div>
  <hr class="hr">

  <div>
    <!--Form-->
    <form name="paymentForm" class="col s12" ng-submit="paymentForm.$valid && addBoking()">
      <!--cardNo-->
      <div class="list">

        <label class="item item-input">
          <i class="icon ion-card small"></i>
          <input style="margin-left:12px;" type="text" placeholder="Card No.">
        </label>

      </div>

      <!--CVV-->
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-card small"></i>
          <input style="margin-left:12px;" type="text" placeholder="CVV">
        </label>
      </div>

        <!--Expiry date-->
        <div class="list">
          <label class="item item-input">
            <i class="icon ion-card small"></i>
            <input style="margin-left:12px;" type="text" placeholder="Expiry Date">
          </label>
        </div>

      <!--Submition button-->
        <div class="input-field col s12" style="padding:30px">
          <a ng-href="{{ paymentForm.$valid ?'/successful' : '/payment'}}"
          class="btn waves-effect waves-light red book-button"
          name="buy">Book Now
          <i class="icons ion-send"></i>
          </a>
        </div>
    </form>
  </div>
  <!--Total price-->
  <div style="padding-bottom:100px">
    <h5 class="center-align red-text text-darken-2">
      Total Cost: {{totalCost}} {{currency}}
    </h5>
  </div>
</div>
