<link href="css/stepper.css" rel="stylesheet">
<div class="mdl-card mdl-shadow--2dp">

  <div class="mdl-card__supporting-text">

    <div class="mdl-stepper-horizontal-alternative">
      <div class="mdl-stepper-step active-step step-done">
        <div class="mdl-stepper-circle"><span>1</span></div>
        <div class="mdl-stepper-title">Select Flight</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step step-done">
        <div class="mdl-stepper-circle"><span>2</span></div>
        <div class="mdl-stepper-title">Passengers Details</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step active-step">
        <div class="mdl-stepper-circle"><span>3</span></div>
        <div class="mdl-stepper-title">Confirm Information</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
      <div class="mdl-stepper-step">
        <div class="mdl-stepper-circle"><span>4</span></div>
        <div class="mdl-stepper-title">Payment</div>
        <div class="mdl-stepper-bar-left"></div>
        <div class="mdl-stepper-bar-right"></div>
      </div>
    </div>

  </div>

</div>
