.item.item-stable.active{
  background-color: #CAC9C9 !important;
}

.errorToast {
  /*display: none;*/
  background: black;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  opacity: 0.7;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 10px 0 5px 0;
  transition:all cubic-bezier(0, 1, 0.5, 1) 0.5s;
}

.errorToast.ng-hide {
  margin-top: -30px;
  opacity: 0;
}




.flight-cost{
	margin-top: -10px;
	float:right;
	font-size: 18px;
}

.flight-time{
  margin-top: 0%;
  float:left;
  font-size: 18px;
}

.flightCollapseIcon{
  margin-left: 15px;
}

h2.infoBar{
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  font-style: bold;
}

h3.infoBar{
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  font-style: bold;
}

.check{
  position: absolute;
  left: -9999px;
  visibility: hidden
}
.check+label {
    position: relative !important;
    padding-left: 35px !important;
    cursor: pointer !important;
    display: inline-block !important;
    height: 25px !important;
    line-height: 25px !important;
    font-size: 1rem !important;
    -webkit-user-select: none !important;
}

.check+label:before {
    content: '' !important;
    position: absolute !important;
    top: 5px !important;
    left: 0 !important;
    width: 18px !important;
    height: 18px !important;
    z-index: 0 !important;
    border-radius: 1px !important;
    margin-top: 2px !important;
    transition: .2s !important;
    transition-property: initial !important;
    transition-duration: 0.2s !important;
    transition-timing-function: initial !important;
    transition-delay: initial !important;
}

.check:checked+label:before {
    top: 2px !important;
    left: -3px !important;
    width: 12px !important;
    height: 22px !important;
    border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid red !important;
    border-bottom: 2px solid red !important;
    -webkit-transform: rotate(40deg) !important;
    transform: rotate(40deg) !important;
    -webkit-backface-visibility: hidden !important;
    backface-visibility: hidden !important;
    -webkit-transform-origin: 100% 100% !important;
    transform-origin: 100% 100% !important;
}

.check:checked+label:after {
    display: none;
}

.check+label:before {
  width: 20px !important;
  height: 20px !important;
}
