.item.item-stable.active{
  background-color: #CAC9C9 !important;
}

.flight-cost{
	margin-top: 0%;
	float:right;
	font-size: 18px;
}

.flight-time{
  margin-top: 0%;
  float:left;
  font-size: 18px;
}

.flightCollapseIcon{
  margin-left: 15px;
}

h2.infoBar{
  margin-top: 5px;
  font-size: 20px;
  text-align: center;
  font-style: bold;
}

h3.infoBar{
  margin-top: 5px;
  font-size: 15px;
  text-align: center;
  font-style: bold;
}

.flightInfoTable tr{
  /*position: absolute;*/
  /*text-align: center;*/
  /*text-justify: auto;*/
  /*padding-left: 15%;*/
  /*padding-right: 15%;*/
}
