
/* Header of the search form */
#search-header{
    text-align: center;
    color: black;
}

/* Field underline color */
input[type=text]{
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 0 0 transparent;
}

input[type=text]:focus, input[type=text]:focus:not([readonly])  {
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 0 0 transparent;
}

input[type=date]{
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 black;
}

input[type=date]:focus, input[type=date]:focus:not([readonly])  {
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 0 0 transparent;
}

/* Input field color */
input[type=text]{
  color: black;
}

/* Field Label Color */
.input-label{
  color: black;
}
input[type=text]::-webkit-input-placeholder {
   color: black;
}

.list .item.item-floating-label, .item-floating-label{
  border-bottom: 0px;
}
.item-select{
  margin-top: 10px;
}
.item-select .input-label{
  margin-left: -10px;
  color: black;
}

select{
  margin-top: 7px;
  display: block;
  border: 0px;
}

/* FIND NOW button */
.btn{
  width: 100%;
}

/*  Auto-complete Styling  */
/* =|=|=|=|=|=|=|=|=|=|=|= */

md-input-container input[type=search] {
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 0 0 transparent;
}

md-input-container input[type=search]:focus{
  border-bottom: 1px solid transparent !important;
  box-shadow: 0 1px 0 0 transparent !important;
  border-color: transparent !important;
}


md-input-container label,  md-input-container .md-input {
  font-size: 14px;
  color: black !important;
}

md-input-container .md-input{
  margin-top: 7px;
}
md-input-container label{
  margin-left: 8px;
}

md-autocomplete{
  min-width: inherit;
}

md-input-container{
  margin: auto;
  padding: 0px;
}

md-autocomplete[md-floating-label] md-input-container{
  padding-bottom: 0px;
}

.md-errors-spacer{
  display: none;
}

.padding{
  padding: 0px 10px 0px 40px !important;
}

.padding-date{
  padding: 0px 20px 0px 50px !important;
}

.padding-class{
  padding: 0px 20px 0px 7px !important;
}

md-input-container label:not(.md-container-ignore){
  bottom: 80%;
}

md-input-container input[type=search]{
  margin-bottom: 5px;
}
